.archived-tasks-container {
  padding: 20px;
  padding-top: 0px;
  max-width: 1200px; /* Optional: sets a maximum width for the container */
  margin: auto; /* Centers the container */
  background-color: #ffffff; /* Background color for the entire page */
  border-radius: 8px; /* Rounds the corners of the main container */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect for depth */
}

h1 {
  color: #343a40;
  padding-left: 5px;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 80px;
  font-size: 30px;
}
.search-container {
  align-items: center; /* Centers items vertically */
}

.search-container input {
  width: 90%;
  flex: 1; /* Takes full available width */
  padding: 10px; /* Adds padding inside the input */
  border: 1px solid #ced4da; /* Border color for the input */
  border-radius: 5px; /* Rounds the corners of the input */
  margin-right: 10px; /* Space between input and button */
}

.search-container button {
  padding: 10px 15px; /* Padding for the button */
  background-color: #094d50; /* Bootstrap primary color */
  color: white; /* Text color */
  border: none; /* No border */
  border-radius: 5px; /* Rounds the corners of the button */
  cursor: pointer; /* Changes cursor on hover */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.search-container button:hover {
  background-color: #127f85; /* Darker shade on hover */
}

.archived-tasks-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Space between grid items */
}

.archived-task-card {
  background-color: #f8f9fa; /* Light gray background for cards */
  padding: 20px; /* Inner padding for cards */
  border-radius: 8px; /* Rounds the corners of the cards */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow effect for cards */
  transition: transform 0.3s; /* Transition for hover effect */
  overflow: hidden; /* Prevents overflow of child elements */
}

.archived-task-card:hover {
  transform: translateY(-5px); /* Slight upward movement on hover */
}

.archived-task-card img {
  max-width: 100%; /* Responsive image size */
  border-radius: 8px; /* Rounds corners of images */
}

.archived-task-card p {
  margin: 10px 0; /* Space around paragraphs */
}

.archived-task-card strong {
  font-weight: bold; /* Bold text for strong elements */
}

.archived-task-card a {
  display: block; /* Makes the link a block element */
  word-wrap: break-word; /* Allows long words to break */
  max-width: 100%; /* Ensures the link does not exceed the card width */
  overflow-wrap: break-word; /* Allows the link to wrap to the next line */
  margin-top: 10px; /* Adds space above the link */
  color: #094d50; /* Link color */
  text-decoration: none; /* Removes underline from links */
}

.archived-task-card a:hover {
  text-decoration: underline; /* Underline link on hover for better visibility */
}
