.reset-password-container {
  background-image: url("../photos/EDECS-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* استخدام min-height لضمان احتواء الشاشة */
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.reset-password-container h2 {
  margin-bottom: 20px;
}

.reset-password-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.reset-password-container button {
  background-color: #094d50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 12px;
  font-size: 16px;
}

.reset-password-container button:hover {
  background-color: #094d50a8;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
