// إعدادات المتغيرات
$primary-color: #16979e; // لون أساسي هادئ
$primary-hover-color: #5a6268; // لون التحويم
$background-color: #f8f9fa; // خلفية فاتحة وهادئة
$text-color: #343a40; // لون نص هادئ
$white: #fff;
$shadow: rgba(0, 0, 0, 0.15); // تأثير ظل أقل كثافة
$border-color: #ced4da; // لون الحدود

// إعدادات عامة
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0px;
  line-height: 1.5; // تحسين التباعد بين النصوص
}

// عنوان الصفحة
h1 {
  color: $text-color;
  padding-left: 5px;
  text-align: left;
  margin-bottom: 15px;
  font-size: 2em; // زيادة حجم الخط
}

// زر تصدير إلى Excel
button {
  background-color: $primary-color;
  color: $white;
  border: none;
  padding: 14px 24px; // زيادة padding
  border-radius: 8px; // جعل الزوايا أكثر نعومة
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  margin: 20px 0;
  font-size: 1.1em; // زيادة حجم الخط

  &:hover {
    background-color: $primary-hover-color;
    transform: translateY(-2px); // تأثير رفع خفيف عند التحويم
  }

  &:active {
    transform: translateY(1px); // تأثير ضغط عند الضغط
  }
}

// حقل البحث
input[type="text"] {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 1em;
  transition:
    border-color 0.3s,
    box-shadow 0.3s; // إضافة انتقال للظل

  &:focus {
    border-color: $primary-color;
    outline: none;
    box-shadow: 0 0 8px $primary-color; // تأثير ظل أكثر وضوحًا عند التركيز
  }
}

// إعدادات تفاصيل الجداول
details {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 4px 8px $shadow;
  margin-bottom: 20px;
  padding: 15px; // زيادة padding داخل details

  summary {
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: #e9ecef; // لون خلفية أكثر هدوءًا
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #dee2e6; // تغيير لون الخلفية عند التحويم
    }
  }
}

// إعدادات الجداول
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  box-shadow: 0 2px 5px $shadow;

  th,
  td {
    padding: 12px;
    border: 1px solid $border-color;
    text-align: left;
    font-size: 1em;
  }

  th {
    background-color: $primary-color;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 1px; // إضافة تباعد بين الحروف
  }

  tr {
    &:nth-child(even) {
      background-color: #f2f2f2; // لون خلفية هادئ للصفوف الزوجية
    }

    &:hover {
      background-color: #e9ecef; // تغيير لون الخلفية عند التحويم
    }
  }
}

// تطبيق الـ CSS فقط على شاشات معينة
@media (max-width: 800px) {
  // هنا يمكنك إضافة التعديلات اللازمة للشاشات الصغيرة
  body {
    padding: 0px; // تقليل padding في الشاشات الصغيرة
  }

  h1 {
    font-size: 2em; // تقليل حجم الخط في الشاشات الصغيرة
  }

  button {
    padding: 10px 20px; // تقليل padding في الشاشات الصغيرة
  }

  input[type="text"] {
    padding: 10px; // تقليل padding في حقل البحث
  }
}
