/* src/components/Sidebar.css */
.sidebar {
  border-radius: 18px;
  position: fixed;
  top: 64px; /* الشريط الجانبي يبدأ أسفل شريط التنقل */
  left: 0;
  width: 80px; /* عرض الشريط الجانبي ثابت */
  height: calc(100% - 30px); /* يملأ الارتفاع المتبقي */
  background-color: #ffffff; /* لون الخلفية */
  color: #094d50; /* لون النص */
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2); /* ظل */
  z-index: 1000; /* لضمان الرؤية فوق المحتوى الآخر */
  display: flex;
  flex-direction: column;
  align-items: center; /* توسيط العناصر أفقياً */
}

.sidebar.open {
  transform: translateX(0); /* عند الفتح */
}

.sidebar.closed {
  transform: translateX(-100%); /* عند الإغلاق */
}

.sidebar h2 {
  display: none; /* إخفاء عنوان الشريط الجانبي */
}

.sidebar ul {
  padding-left: 0px;
  list-style: none;
  padding-top: 50px;
  margin: 0;
  width: 100%; /* العرض الكامل */
  flex-grow: 1; /* لتوسيع القائمة لملء المساحة المتاحة */
}

.sidebar ul li {
  border-radius: 18px;
  padding: 12px 0; /* الحشو العلوي والسفلي بالبيكسل */
  margin-bottom: 20px; /* إضافة مسافة بين الأزرار بمقدار 20px */
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.sidebar ul li:last-child {
  margin-bottom: 0; /* إزالة الهامش السفلي للزر الأخير */
}

.sidebar ul li:hover {
  background-color: rgba(66, 68, 70, 0.534); /* لون خلفية عند التمرير */
  transform: scale(1.05); /* تأثير تكبير طفيف عند التمرير */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* زيادة الظل عند التمرير */
}

.sidebar ul li a {
  color: #000000; /* لون النص */
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%; /* نطاق النقر يمتد على العرض الكامل */
  padding: 5px; /* تقليل الحشو حول الأيقونات والنص */
  justify-content: center; /* توسيط العناصر أفقياً */
  box-sizing: border-box; /* لضمان احتساب الحجم بشكل صحيح */
}

.sidebar ul li a .sidebar-icon {
  width: 30px; /* عرض الأيقونات ثابت */
  height: 30px; /* ارتفاع الأيقونات ثابت */
  fill: #000000; /* لون الأيقونات */
  transition: fill 0.3s ease;
}

/* تعديل زر تسجيل الخروج ليكون مشابهًا للأزرار الأخرى */
.sidebar .logout-button {
  width: 72%; /* جعل عرض الزر مشابهًا لعرض العناصر الأخرى */
  padding: 10px; /* زيادة الحشوة لجعله أكثر راحة */
  background-color: #ce1100; /* لون خلفية الزر */
  border: none;
  border-radius: 18px; /* نفس شكل الأزرار الأخرى */
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease; /* إضافة تأثير الظل */
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظل */
  display: flex; /* لتوسيع نطاق النقر */
  justify-content: center; /* توسيط العناصر أفقياً */
  margin-top: auto; /* لجعل الزر يتحرك إلى الأسفل */
  margin-bottom: 40px; /* إضافة حواف سفلية بمقدار 40px */
}

.sidebar .logout-button .sidebar-icon {
  width: 30px; /* عرض الأيقونات ثابت */
  height: 30px; /* ارتفاع الأيقونات ثابت */
  margin-right: 5px; /* تقليل المسافة بين الأيقونة والنص */
}

.sidebar .logout-button:hover {
  background-color: #e64a19; /* لون خلفية الزر عند التمرير */
  transform: scale(1.05); /* تأثير تكبير طفيف عند التمرير */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* زيادة الظل عند التمرير */
}

.sidebar .logout-button:focus {
  outline: none; /* إزالة الحدود عند التركيز */
  background-color: #d84315; /* لون الخلفية عند التركيز */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ظلال خفيفة عند التركيز */
}

/* Media Queries لتصميم الشريط الجانبي على أحجام شاشات مختلفة */
@media (max-width: 768px) {
  .sidebar {
    width: 100px; /* عرض أكبر قليلاً للشاشات الصغيرة */
  }

  .sidebar ul li {
    padding: 15px 0; /* زيادة الحشو قليلاً */
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 120px; /* عرض أكبر للأجهزة المحمولة */
  }

  .sidebar .logout-button {
    font-size: 12px; /* تقليل حجم الخط */
    padding: 5px; /* تقليل الحشو */
  }

  .sidebar ul li a .sidebar-icon {
    width: 40px; /* زيادة حجم الأيقونات قليلاً */
    height: 40px; /* زيادة ارتفاع الأيقونات قليلاً */
  }
}

/* إضافة القاعدة التالية إلى ملف CSS الخاص بالشاشة الرئيسية */
.main-content {
  margin-left: 2px; /* إبعاد المحتوى بمقدار 2 بيكسل من الجانب الأيسر */
  transition: margin-left 0.3s ease; /* إضافة انتقال سلس عند تغيير الهامش */
}

.sidebar.open + .main-content {
  margin-left: 80px; /* عند فتح الشريط الجانبي، اجعل الهامش 80px */
}
 
