@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header-h1 {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200 !important;
  font-style: normal !important;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 56px;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #094d50;
  margin-bottom: 60px;
  margin-left: 0%;
}
.body,
.h3,
.h2,
.h4,
.label,
.details,
.summary,
.button,
* {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;

  /* إزالة المسافة العليا والسفلية */
}
/* Modal Styles */
.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 450px;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center align children horizontally */
  text-align: center; /* Center text alignment */
}

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

/* Modal Title Styles */
.modal1 h2 {
  margin: 0; /* Remove top margin */
  font-size: 1.8rem; /* Font size for title */
  color: #1a535c;
  font-weight: 600;
}

/* Modal Paragraph Styles */
.modal1 p {
  font-size: 1rem; /* Font size for the text */
  margin: 15px 0; /* Increased vertical spacing */
  line-height: 1.5; /* Improved line height for readability */
}

/* Button Styles */
.modal1 button {
  display: block; /* Make the button a block element */
  margin-top: 20px; /* Add top margin for spacing */
  padding: 10px 20px; /* Increased padding for better touch target */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  background-color: #1a535c; /* Button background color */
  color: white; /* Text color */
  font-size: 1rem; /* Button font size */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s, transform 0.2s; /* Transition for background color and scale */
}

/* Button Hover Styles */
.modal1 button:hover {
  background-color: #0f3b43; /* Button background on hover */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Animation for Modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

